.App {
  text-align: center;
  min-height: 400px;
  min-width: 300px;
}

table { min-width: 500px; }


.fixedDataTableLayout_rowsContainer{
  min-width: 500px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
